
body {
 text-align: center;
}

ul {
  padding-left: 0;
  margin: 0;
}
.page-header__container, .promo__container, .trails__container, .sale__container, .info__container,
.price__container, .reviews__container {
  width: 300px;
  margin: 0 auto;
} 

.promo {
  background-image: url(../img/promo_fon.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.page-header {
   padding: 8px 0;
   background-color: #e9e9f1;
}
.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header__phone {
  width: 180px;
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
}

.page-header__phone-link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: Arial, sans-serif;
  width: 180px;
  display: inline-block;
  padding-left: 10px;
}

.burger{
  background-image: url(../img/burger.png);
  background-repeat: no-repeat;
  width: 10px;
}

.promo__row {
  position: relative;
}

.promo__btn {
  position: absolute;
  bottom: -250px;
  left: 0;
}

.btn {
  display: inline-block;
  border: 1px solid black;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: Arial, sans-serif;
 
}

.promo__title {
  display: inline-block;
  color: #000;
  font-size: 30px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  margin: -15px 0;
  padding: 80px 0px 70px 0;
  position: relative;
}

.promo__title:after {
 position: absolute;
 content:'';
 width: 100px;
 height: 2px;
 background-color: #000;
 bottom: 35%;
 left: 0;
 right: 0;
 margin: auto;
}

.promo__text {
  width: 150px;
  text-align: left;
}




.trails__title {
  color: #000;
  font-size: 30px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}


.page-header__time {
  display: none;
}

.page-header__address {
  display: none;
}

.logo {
  display: none;
}

.main-nav {
  display: none;
}

.promo__text--invisible {
  display: none;
}

.trails__item:nth-child(2) {
  display: none;
}

.trails__item:nth-child(3) {
  display: none;
}

.trails__item:nth-child(4) {
  display: none;
}

.trails__item:nth-child(5) {
  display: none;
}

.info__item-img:nth-child(2) {
  display: none;
}

.info__item-img:nth-child(3) {
  display: none;
}

.reviews__item:nth-child(2) {
  display: none;
}

.reviews__item:nth-child(4) {
  display: none;
} 

/*end min-width 320*/

@media (min-width: 768px) {
.promo__container, .trails__container, .sale__container, .info__container,
.price__container, .reviews__container {
  width: 768px;
  margin: 0 auto;
} 


.page-header__time {
  display: block;
}

.page-header__address {
  display: block;
}

.logo {
  display: block;
}

.main-nav {
  display: block;
}

.promo__text--invisible {
  display: block;
}

.trails__item:nth-child(2) {
  display: block;
}

.trails__item:nth-child(3) {
  display: block;
}

.info__item-img:nth-child(2) {
  display: block;
}

.info__item-img:nth-child(3) {
  display: block;
}

.reviews__item:nth-child(2) {
  display: block;
}

.reviews__item:nth-child(4) {
  display: block;
}

} /* end min-width 768px*/



@media (min-width: 1200px) {
.promo__container, .trails__container, .sale__container, .info__container,
.price__container, .reviews__container {
  width: 1200px;
  margin: 0 auto;
} 

.trails__item:nth-child(4) {
  display: block;
}

.trails__item:nth-child(5) {
  display: block;
}



} /*end min-width 1200px*/




