/*общие св-ва*/
@font-face {
  font-family: 'Futura Bold';
  src: url('../fonts/Futura PT/FUTURABOLD.TTF') format ('truetype');
}

@font-face {
  font-family: 'Futura Regular';
  src: url('../fonts/Futura PT/FUTURAREGULAR.TTF') format ('truetype');
}


body {
 text-align: center;
 /*font-size: 0;*/
}

ul {
  padding-left: 0;
  margin: 0;
}
.container {
  width: 1160px;
  margin: 0 auto;
}

.trails__item {
}
  
.trails__item-row {
  display: flex;  
}



